<header>

    <a class="logo"><i class="fas fa-utensils"></i>resto.</a>

    <nav class="navbar ">
        <a class="active" routerLink="/home">home</a>
        <a  routerLink="/dishes">Dishes</a>
        <a  routerLink="/about">About</a>
        <a routerLink="/menu">Menu</a>
        <a routerLink="/review">Review</a>
        <a routerLink="/order">Order</a>
    </nav>

    <div class="icons">
        <i class="fas fa-bars" id="menu-bars"></i>
        <i class="fas fa-search" id="search-icon"></i>
        <a href="#" class="fas fa-heart"></a>
        <a href="#" class="fas fa-shopping-cart"></a>
    </div>

</header>

<!-- search form  -->

<form action="" id="search-form">
    <input type="search" placeholder="search here..." name="" id="search-box">
    <label for="search-box" class="fas fa-search"></label>
    <i class="fas fa-times" id="close"></i>
</form>
